/* css styles */

.quarto-title-block .quarto-title-banner {
  background-image: url(images/siuc1.jpeg);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

