/* css styles */

.quarto-title-block .quarto-title-banner {
  background-image: url(images/siuc2.png);
  background-size: 300px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 10px;
  background-origin: content-box;
}

/*-- scss:defaults --*/

body {
  background-image: url(images/images9.avif);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-position: center center;*/
  /*background-attachment: fixed;*/
}